*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden !important;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: left;
    left: 0;
    margin-left: 50px;
}
.logo a{
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: brown;
}
#items-mobile{
    padding: 2rem;
     text-align: left;
}
#items-mobile ul a{
    text-decoration: none;
    text-align: left;
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
#items-mobile li{
    letter-spacing: 3px;
    margin-left: 32px;
    list-style: none;
    display: flex;
}

.mobile-menu i{
    font-size: 30px;
    margin: 8px;
}
nav{
    justify-content: space-around;
  
}
.mobile-menu{
    display: none;
    cursor: pointer;
}

@media (max-width:700px){
    body{
        overflow-x: hidden;
    }
    #items-mobile{
        position: absolute;
        top: 0vh ;
        right: 0 ;
        width: 50vw ;
        height: 100vh;
        background: #23232e;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-around !important;
        display: none;
        animation: rightMenu 1s ease forwards;
    }
    @keyframes rightMenu {
        0%{
            background: white;
            color: white;
            transform: translateX(200px);
        }
        section{
            display: none;
        }
    }
    #items-mobile a{
        color: red;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-around !important;
    }
    #items-mobile ul{
        margin-left: 0;
        text-align: right;
    }
    .mobile-menu{
        display: block;
       padding: 4rem;
       margin-top: 5px;
       left: 0;
       position: absolute;
    }
    .logo{
        left: 0;
        margin-left: -30px;
        position: absolute;
    }
    #items-mobile ul a{
        text-decoration: none;
        text-align: right;
        padding: 2rem;
        font-family: 'Kanit', sans-serif;
        font-weight: 600;
        line-height: 10;
        text-transform: uppercase;
        flex-direction: column;
        color: brown;
    }
    #items-mobile a:first-child{
         margin-left: 0px;
    }


}
.carrossel-mobile{
    display: none;
}
.carrossel{
    filter: opacity(90%);
    overflow: hidden;
    width: 500px;
    height: 150px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#container{
    display: flex;
    transition: 0.2s ease-in-out;
    transform: translateX(0);
}
#container img{
    margin-top: -50px;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:500px){
    .carrossel{
        display: none;
    }
    .carrossel-mobile{
        display: flex;
    }
    .carrossel-mobile{
        filter: opacity(90%);
        overflow: hidden;
        width: 350px;
        height: 200px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    #container-mobile{
        display: flex;
        transition: 0.2s ease-in-out;
        transform: translateX(0);
    }
    #container-mobile img{
        width: 100%;
        height: 100%;
    }
}
.hidden{
    opacity: 0;
    filter: blue(10px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 1s;
}
section{
    text-align: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 50px;
    display: grid;
}
.titulo h1,h2{
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 5px;
    font-weight: 200;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 1400px;
    height: 100px;
}
.images-icon{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
}
.images-icon img{
    display: grid;
    margin-left: 0;
    width: 7%;
    height: 100%;
    padding: 1rem;
}
.icons img:first-child{
    margin-left: -20px;
}
.icons2{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1400px;
    height: 100%;
    display: none;
    animation:  leftMenu 0.5s ease forwards;
}
@keyframes leftMenu {
    0%{
        background: white;
        color: white;
        transform: translateY(200px);
    }
}
@media screen and (max-width:700px){
    section.icons{
        flex-direction: column;
        width: 100%;
    }
    .inicio-luxo{
        margin-top: -20px;
    }
    .images-icon{
       flex-direction: column;
        margin-left: 0px; 
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .images-icon img:first-child{
        margin-left: 0px;
    }
    .icons{
        margin-top: 200px;
    }
    .icons2{
        margin-top: 200px;
    }
}

.images-icon2{
    display: grid;
     width: 100%;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
}
.images-icon2 img{
     margin-left: 0;
     width: 7%;
     height: 100%;
     padding: 1rem;
}
#mais{
    border-color: brown;
    border-style: solid;
    padding: 1rem; 
    border-radius: 50px;
}

.titulo-sf{
   position: absolute !important;
   right: 0 !important;
   width: 39vw;
   height: 50vh !important;
   background:black;
   margin-top: 32px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
}
.titulo-sf h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.titulo-sf h1:nth-of-type(1){
    writing-mode: vertical-lr;
}

 #figura{
    position: absolute;
    left: 0;
    width: 60vw;
    height: 50vh;
}
.titulo-sf span{
    color:white;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    border-color: brown;
    border-style: solid;
    padding: 1rem;
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
}
.frase{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
section.sf-90{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section.sf-90 img{
    width:400px;
    margin-left: 0;
    margin-left: -100px;
    justify-content: left;
}
section.sf-90 h1{
    padding: 1rem;
    font-size:40px ;
    text-transform: uppercase;
    font-family: 'Poppins';
}
@media screen and (max-width:850px){
    .frase{
        margin-top: 100px;
    }
    section.sf-90{
        flex-direction: column;
        width: 100%;
    }
    section.sf-90 img{
        width: 90%;
        margin-left: 0px;
    }
}

section.container{
    justify-content: center;
    text-align: center;
    align-items: center;
}
section.container img{
    margin-left: 10px;
    width: 1400px;
    height: 600px;
}
section.container h2 , a{
    margin-top: -200px;
}
section.container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins';
}
section.container a{
    padding-top: 9rem;
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 16px;
}
section.container i:hover{
     border-color: brown;
     border-style: solid;
}
section.container i{
    border-color: white;
    border-style: solid;
    padding:0.5rem;
    border-radius: 30px;
}
.container-f1{
    display: block;
    margin-top: -144px;
}
.container-f1 img{
     width: 100%;
}
.container-f1 h1{
    font-size: 30px;
    font-family: 'poppins';
    text-transform: uppercase;
    margin-top: -80px;
    color: white;
}
.background-lambo{
    background: url(https://i0.wp.com/zenuzz.com/wp-content/uploads/2021/12/lamborghini-dubai-dealership-and-pop-up-lamborghini-lounge-inaugurated-in-dubai.jpg?fit=1312%2C920&ssl=1);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    width: 100%;
}
section.lamborghini{
    text-align: left;
    text-align: left;
    justify-content: left;
    left: 0;
    position: absolute;
    margin-left: 50px;
}
.texto-lambo{
    color: white;
    text-align: left;
    justify-content: left;
}
.texto-lambo h1{
    font-family: 'poppins';
    font-size:6rem;
    font-weight: 700;
    line-height: 1.08em;
}
.texto-lambo p1 {
    font-family: 'poppins';
    font-size:3rem;
    font-weight: 100;
}
.texto-lambo a{
    color: white;
     font-size: 40px;
    font-weight: 100;
    background: black;
    padding: 1rem;
    border-radius: 5px;
    line-height: 2;
    transition: 0.5s;
    border-color: white;
    border-style: solid;
}
.texto-lambo a:hover{
    color: black;
    background: white;
}
 .main  img{
    height: auto;
    width:600px;
    max-width: 100%;
    position: absolute;
    left: 3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    justify-content: left;
 }
 .texto-urus{
    text-align: right;
    position: absolute;
    right: 0;
   margin-right: 200px;
   font-family: 'poppins';
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   line-height: 5;
   text-transform: uppercase;
 }
  .texto-urus a{
    text-align: left;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    background: '';
    border-width: 1px;
    border-color: #23232e;
    border-style: solid;
    padding: 2rem;
    height: 20px;
    margin-top: 100px;
    color: black;
    margin-left: -150px;
    transition: 0.5s;
  }
  .texto-urus a:hover{
    background: black;
    color: white;
  }
 .texto-urus img{
     width: 30%;
     margin-top: 100px;
     background: yellow;
     border-color: black;
     border-style: solid;
     cursor: pointer;
     margin-top: 30px;
 }

 #card2{
    width: 30%;
    margin-top: -18px;
    background: yellow;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    left: 40%;
}

 .urus-touch{
   display: none;
 }
 .wrapper{
    display: none;
 }
 @media screen and (max-width:1000px){
      .main , #urus{
        flex-direction: column;
        width: 100%;

      }
      .texto-urus , .texto-urus2, #card2{
        flex-direction: column;
        
        
      }
       #urus{

        margin-top: 300px;
      }
      .inicio-news{
        margin-top: 200px;
        flex-direction: column;
        width: 100%;
      }
      .inicio-news img{
        width: 100%;
      }
 }
 @media screen and (max-width:700px){
     .main{
       display: none;
     }
     .urus-touch{
        display: flex;
        text-align: center;
        justify-content: center;
        line-height: 4;
     }
     .urus-touch h1{
        font-family: 'poppins';
        font-size: 35px;
        text-transform: uppercase;
     }
     .wrapper{
        display:flex;
        grid-gap: 1rem;
        max-width: 765px;
        width: 100%;
        overflow-x: auto;
        align-items: center;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          margin-top: -100px;
          scroll-snap-type:x ;
          cursor: grab;
          scroll-behavior: smooth;
          scrollbar-width: none;
         
     }
     .wrapper::-webkit-scrollbar{
        display: none;
     }
     .slider{
        min-width: calc(70% - .5rem);
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
    
     }
     .slider img{
        width: 70%;
     }
     .inicio-news{
        margin-top: -600px;
     }
 }

 .news-lambo {
    margin-top: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
 }
 .inicio-news {
     text-align:left;
     justify-content: center;
 }
 .news-imagem img{
    width:900px;
    height: 500px;
    text-align: center;
     justify-content: center;
 }
 .inicio-news h1{
    font-family: 'poppins';
    font-weight: 100;
    font-size: 30px;
 }
 .inicio-news h2{
    font-family: 'poppins';
    font-size: 60px;
    font-weight: 900;
 }
 .news-anos{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
 }
 .news-anos img{
     width: 300px;
    
 }
 .news-anos img, .anos-texto{
    display: inline-block;
 }
 .anos-texto{
    margin-top: 50px;
    padding-left: 2rem;
    
 }
 .anos-texto h1{
   font-family: 'poppins';
   font-weight: 100;
 }
 .anos-texto a{
    padding-left: 0rem;
    text-align: left;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    line-height: 3;
    background:black;
    padding: 1rem;
    border-color: #23232e;
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
 }
 .anos-texto a:hover{
   color: black;
   background: white;
 }
 @media screen and (max-width:700px){
    .news-anos{
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .news-anos img{
        text-align: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
 }
.porshe-titulo h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'poppins';
    text-transform: uppercase;
    font-weight: 100;
    font-variant: small-caps;
    letter-spacing: 20px;
    }
    .porshe-titulo img{
        width: 20px;
    }

    main.card{
     margin-top: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 32px;
    }
    main.card section.porshe-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #23232e;
        padding: 13rem 1rem;
        border-radius: 2px;
        max-height: 256px;
        margin-left: 32px;
        overflow: hidden;
    }
    main.card section.porshe-card:first-child{
        margin-left: 0;
    }
    main.card section.porshe-card .icon-porshe{
        width: 400px;
        height: 200px;
        margin-top: -120px;
        transition: 1s;
    }
    main.card section.porshe-card img{
        width: 100%;
        transition: 0.5s;
    }
    main.card section.porshe-card img:hover{
        transform: scale(1.1);
    }
    main.card section.porshe-card h1{
        font-size: 100%;
        margin: 16px 0;
        font-family: sans-serif;
        color: white;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    main.card section.porshe-card a{
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: -0px;
    }
    @media screen and (max-width:900px){
      main.card{
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
      }
      main.card section.porshe-card{
        width: 90%;
        margin-bottom: 32px;
      }
      main.card section.porshe-card{
        margin-left: -10px;
      }
      main.card section.porshe-card:first-child{
        margin-left: -10px;
      }


    }
    .background-gt{
        background: #000 url(https://files.porsche.com/filestore/image/multimedia/none/992-gt3-rs-modelimage-sideshot/model/cfbb8ed3-1a15-11ed-80f5-005056bbdc38/porsche-model.png);
        height:70vh;
        background-image: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
       background-attachment:fixed ;
    }
    .texto-confi{
        padding-top: 10rem;
        text-align: center;
        justify-content:center ;
    }
   .texto-confi h1{
    text-align: center;
    color: white;
    font-family: 'poppins';
    justify-content: center;
    font-size: 30px;
   }
   .texto-confi a{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration:none ;
    color: white;
    line-height: 8;
    background: transparent;
    border-color: white;
    border-style: solid;
    padding: 1rem;
    border-width: 1px;
    transition: 0.5s;
   }
   .texto-confi a:hover{
    background: white;
    color: black;
   }
   section.bloco{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 32px;
    text-align: center;
    margin-left: -50px;
   }
   section.bloco .gt4{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;

   }
   section.bloco .gt4:first-child{
    margin-left: -0px;
   }
   section.bloco .gt4 .gt4-imagem{
     width:  500px;
     height: 200px;
   }
   section.bloco .gt4 img{
    width: 100%;
   }
   section.bloco .gt4-frase{
    text-align:right;
    line-height: 3;
   }
   .gt4-frase h1{
    font-size: 40px;
    font-family: 'poppins';
    text-transform: uppercase;
   }
   #yellow{
    background: rgb(255, 255, 10);
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    color: transparent;
    border-color: black;
    border-style: solid;
   }
   #cinza{
    background: gray;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    color: transparent;
    border-color: black;
    border-style: solid;
   }

   #Confi-a {
    text-decoration: none;
    background: black;
    padding: 1rem;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    line-height: 5;
   }
   @media screen and (max-width:900px){
    section.bloco .gt4{
        flex-direction: column;
        margin-left: 0;
       }
       section.bloco .gt4{
        margin-left: 0px;
        width: 100%;
        flex-direction: column;
       }

   }

   section.mclaren{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px;
   }
   section.mclaren .mc-flex{
    display: flex;
    text-align: center;
    justify-content: center;
   }
   section.mclaren .mc-flex .mc-imagem{
      width: 600px;
      height: 200px;
   }
   section.mclaren .mc-flex:first-child{
    margin-left: 0px;
   }
   section.mclaren .mc-flex img{
    width: 100%;
   }
   .mc-flex h1 , p{
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
   }
   .mc-flex h1{
    font-size: 40px;
    font-family: 'poppins';
    font-weight: 10;
    text-transform: uppercase;
   }
   @media screen and (max-width:900px){
    section.mclaren .mc-flex{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    section.mclaren .mc-flex .mc-imagem{
        margin-left: 0;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
   }

   section#container{
    text-align: center;
    justify-content:center;
    align-items: center;
   }
   .senna{
    text-align: center;
    justify-content: center;
    align-items: center;
   }
   .senna video{
    width: 1400px;
    height: 800px;
   }
   .senna h1{
     margin-top: -150px;
     color: white;
     text-transform: uppercase;
     font-family: 'poppins';
     letter-spacing: 3px;
     font-size: 30px;
   }

.container-cards{

 width: 100%;
 box-sizing: border-box;
 display:flex;
}
.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.container-cards h1{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: -80px;
}
.container-cards a{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 3;
    transition: 0.5s;
}
.container-cards a:hover{
    color: blue;
}
.container-cards h1,a{
    margin-left: 20px;
}
@media screen and (max-width:900px){
    .container-cards{
        flex-direction: column;
        width: 100%;
    }

}


.background-loja{
    background: #acacac url('https://www.mclarensaopaulo.com.br/pub/galeria/-noticia-3_1_210507_1358.jpg');
    background-blend-mode: darken;
    height: 80vh;
    width: 100%;
    background-image: cover;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    background-position: center;
    transition: 0.5s;
    object-fit: cover;
}
section.mc-loja h1{
    text-align: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-family:  'Roboto', sans-serif;
    margin-top: 200px;
    font-size: 40px;
}
section.mc-loja a{
    color: white;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 15px;
}
section.mc-loja a:hover{
    text-decoration: underline;
}
.container-cards{

    width: 100%;
    box-sizing: border-box;
    display:flex;
   }
   .container-img img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       transition: 0.5s;
   }


   #container-box{
     width: 100%;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     text-align: center;

   }
   #container-imgs img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       filter:saturate(20%);
   } 
   #container-imgs img:hover{
     filter: saturate(100%);
   }
   #container-box .box-texto{
    margin-top: -100px;
    text-align: center;
    color: white;
    filter: saturate(100%);
   }
   #container-box .box-texto h1{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'poppins';
   }
   #container-box .box-texto a{
    color: white ;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 15px;
   }
   #container-box .box-texto a:hover{
    text-decoration: underline;
   }
   @media screen and (max-width:900px){
    #container-box{
        flex-direction: column;
        width: 100%; 
    }
    .box-texto{
        margin-bottom:10px;
    }

   }

   footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: black;
    display: flex;
    padding: 2rem;
   }
   .footer-items{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    margin-left: 200px;
   }
   .footer-items h1,a{
    padding: 3rem;
   }
   .footer-items a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5;
    cursor:grab;
   }
   .footer-items h2{
    margin-left: 40px;
    color: gray;
   }
   .sociais a{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1px;
    padding-left: 6rem;
    font-size: 30px;
    border-color: brown;
    margin-left: 100px;
   }
   .footer-logo h1 {
    display: flex;
    text-align: left;
    justify-content: left;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: brown;
    margin-top: 1px;
   }
   .footer-items a:hover{
    text-decoration: underline;
   }
   @media screen and (max-width:900px){
    footer{
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-items{
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .sociais a{
        flex-direction: column;
        width: 100%;
        margin-left: -25px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-items h2{
        margin-left: 0px;
        color: gray;
        text-align: center;
        justify-content: center;
        align-items: center;
       }
   }
   @media screen and (min-width:900px) and (max-width:1000px){
    footer{
        width: 100%;
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-items{
        margin-left:100px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer-items a{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: -0px;
    }
    .sociais a{
        width: 100%;
        right: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer-items h2{
        margin-left: 0px;
        color: gray;
        text-align: center;
        justify-content: center;
        align-items: center;
       }
   }
   
   
   @media screen and (min-width:320px) and (max-width:500px){
      section.container{
        flex-direction: column;
        width: 100%;
      }
      section.container img{
        object-fit: cover;
      }
      section.container h2{
        font-size: 30px;
      }
      section.container h1,a{
        text-align: center;
        justify-content: center;
        margin-left: 0px;
      }
      .frase{
        font-size: 100%;
        width: 100%;
        height: 100% !important;
        margin-top: 120px;
    }
      .images-icon{
        margin-top: 10px !important; 
      }
      .urus-touch h1{
        font-size: 25px;
      }
      .texto-lambo{
        text-align: left;
        justify-content: left;
        margin-left: -50px;
      }
      .texto-lambo h1{
        font-size: 30px;
      }
      .inicio-news h2{
        font-size: 30px;
      }
      .news-imagem img{
        width: 100%;
        height: 100%;
        justify-content: center;
        
      }
      .news-anos{
        margin-top:-150px;
        width: 100%;
        flex-direction: column;
        justify-self: center;
      }

      .anos-texto{
        width: 100%;
        flex-direction: column;
        margin-left: -30px;
    }
    .anos-texto h1{
       font-size: 25px;
    }
    .background-gt{
        background: #000 url(https://files.porsche.com/filestore/image/multimedia/none/992-gt3-rs-modelimage-sideshot/model/cfbb8ed3-1a15-11ed-80f5-005056bbdc38/porsche-model.png);
        height:80vh;
        background-image: cover;
        background-repeat: no-repeat;
        background-size: cover;
       background-attachment:fixed !important;
    }
    section.bloco{
        margin-top: -50px;
    }
    .gt4-imagem{
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-left: -60px;
        }
    #gt4-img{
        width: 70%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .gt4-frase h1{
       font-size: 30px;
    }
    .mc-flex{
        margin-top: -150px;
    }
    #mc-img{
       width: 80%;
    }
     video{
        width: 330px;
        height: 100vh;
        height: 100% !important;
    }
    #container-box .box-texto h1{
        font-size: 100%;
    }

   }

   
   @media screen and (min-width:500px) and (max-width:700px){
    #items-mobile{
        padding-left: 7rem;
    }
    .mobile-menu i{
        margin-left: 10px;
    }
    section.container{
      flex-direction: column;
      width: 100%;
    }
    section.container img{
      object-fit: cover;
    }
    section.container h2{
      font-size: 30px;
    }
    section.container h1,a{
      text-align: center;
      justify-content: center;
      margin-left: 0px;
    }
    .frase{
      font-size: 80%;
      margin-top: 120px;
    }
    .frase h1{
       
    }
    .images-icon{
      margin-top: 10px !important; 
    }
    .urus-touch h1{
      font-size: 25px;
    }
    .texto-lambo{
      text-align: left;
      justify-content: left;
      margin-left: -50px;
    }
    .texto-lambo h1{
      font-size: 70px;
    }
    .inicio-news h2{
      font-size: 30px;
    }
    .news-imagem img{
      width: 100%;
      height: 100%;
      justify-content: center;
      
    }
    .news-anos{
      margin-top:0px;
      width: 100%;
      flex-direction: column;
      justify-self: center;
    }

    .anos-texto{
      width: 100%;
      flex-direction: column;
      margin-left: -20px;
  }
  .anos-texto h1{
     font-size: 25px;
  }
  .background-gt{
      background: #000 url(https://files.porsche.com/filestore/image/multimedia/none/992-gt3-rs-modelimage-sideshot/model/cfbb8ed3-1a15-11ed-80f5-005056bbdc38/porsche-model.png);
      height:80vh;
      background-image: cover;
      background-repeat: no-repeat;
      background-size: cover;
     background-attachment:fixed !important;
  }
  section.bloco{
      margin-top: -50px;
  }
  .gt4-imagem{
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      margin-left: -60px;
      }
  #gt4-img{
      width: 80%;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .gt4-frase h1{
     font-size: 30px;
  }
  .mc-flex{
      margin-top: -150px;
  }
  #mc-img{
     width: 90%;
  }
   video{
      width: 330px;
  height: 100%;
  }
  #container-box .box-texto h1{
      font-size: 100%;
  }

 }

 @media screen and (min-width:700px) and (max-width:900px){
    #items-mobile{
        padding-left: 7rem;
    }
    .mobile-menu i{
        margin-left: 10px;
    }
    section.container{
      flex-direction: column;
      width: 100%;
    }
    section.container img{
      object-fit: cover;
    }
    section.container h2{
      font-size: 30px;
    }
    section.container h1,a{
      text-align: center;
      justify-content: center;
      margin-left: 0px;
    }
    .frase{
      font-size: 100%;
    }
    .images-icon{
      margin-top: 10px !important; 
    }
    .urus-touch h1{
      font-size: 25px;
    }
    .texto-lambo{
      text-align: left;
      justify-content: left;
      margin-left: -50px;
    }
    .texto-lambo h1{
      font-size: 70px;
    }
    .inicio-news h2{
      font-size: 30px;
    }

  .background-gt{
      background: #000 url(https://files.porsche.com/filestore/image/multimedia/none/992-gt3-rs-modelimage-sideshot/model/cfbb8ed3-1a15-11ed-80f5-005056bbdc38/porsche-model.png);
      height:80vh;
      background-image: cover;
      background-repeat: no-repeat;
      background-size: cover;
     background-attachment:fixed !important;
  }
  section.bloco{
      margin-top: -50px;
  }

  .mc-flex{
      margin-top: -150px;
  }
  #mc-img{
     width: 100%;
  }
   video{
      width: 330px;
  height: 100%;
  }
  #container-box .box-texto h1{
      font-size: '';
  }
  footer{
    margin-top: 35px;
  }

 }
 @media screen and (min-width:900px) and (max-width:1000px){
    #items-mobile{
        padding-left: 7rem;
    }
    .mobile-menu i{
        margin-left: 10px;
    }
    section.container{
      flex-direction: column;
      width: 100%;
    }
    section.container img{
      object-fit: cover;
    }
    section.container h2{
      font-size: 30px;
    }
    section.container h1,a{
      text-align: center;
      justify-content: center;
      margin-left: 0px;
    }
    .frase{
      font-size: 100%;
    }
    .images-icon{
      margin-top: 10px !important; 
    }
    .urus-touch h1{
      font-size: 25px;
    }
    .news-anos img{
        max-width: 100%;
    }
    .texto-lambo{
      text-align: left;
      justify-content: left;
      margin-left: -50px;
    }
    .texto-lambo h1{
      font-size: 70px;
    }
    .inicio-news h2{
      font-size: 30px;
    }
    .background-lambo{
        background: url(https://i0.wp.com/zenuzz.com/wp-content/uploads/2021/12/lamborghini-dubai-dealership-and-pop-up-lamborghini-lounge-inaugurated-in-dubai.jpg?fit=1312%2C920&ssl=1);
        height: 70vh;
        background-position: center center;
        background-size: cover;
        width: 100%;
    }
    #urus{
        width: 80%;
    }

  .background-gt{
      background: #000 url(https://files.porsche.com/filestore/image/multimedia/none/992-gt3-rs-modelimage-sideshot/model/cfbb8ed3-1a15-11ed-80f5-005056bbdc38/porsche-model.png);
      height:40vh;
      background-image: cover;
      background-repeat: no-repeat;
      background-size: cover;
     background-attachment:fixed !important;
  }
  section.bloco{
      margin-top: -50px;
  }

  .mc-flex{
      margin-top: -0px;
  }
  #mc-img{
     width: 100%;
  }
   video{
      width: 330px;
  height: 100%;
  }
  .background-loja{
    height: 50vh;
  }
  #container-box .box-texto h1{
      font-size: '';
  }
  footer{
    margin-top: 0px;
  }

 }